body,html{
  margin: 0;
  padding: 0;
}
.container {

    max-width: 940px;
    width: 100%;
    margin:2em auto;

}
.profile {
    display: flex;
    justify-content: center;

}

.profile_image{
      margin: 3em;
}

.profile_image img {

      border-radius: 50%;

}
.profile_info{
    margin: 2em;
}
.profile_info--top {

  display: flex;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;

}

.profile_info--top a.edit {
    text-decoration: none;
    color: #333;
    padding: .5em 1em;
    border: 1px solid #e4e4e4;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.rofile_info--center {
    display: flex;
    max-width: 400px;
    justify-content: space-between;

}

.profile_info--bottom {
  margin-top: 2em;
  max-width: 400px;
  margin-bottom: 1em;

}
.profile_info--bottom a {
  color: #003569;
  text-decoration: none;
}

.tabs{
  max-width: 960px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  position: relative;
 
}

.tabs:before {
      content: "";
      position: absolute;
      width: 100%;
      top:16px;
      border-top: 1px solid #e4e4e4;    
}

.tab-item {
  border-top: 1px solid transparent;
  margin-top: 1em;
  padding-top: 10px;
  cursor: pointer;
  
}

.active {

  border-top:1px solid #000;
  padding-top:10px;
  z-index:1;

}

.gallery_grid {
    margin: 1em 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows: repeat(3,250px);
    grid-gap: 1.5em;
    justify-content: center;
    align-content: center;

}
.grid-img img {
    width: 100%;
    height: 100%;

}
.grid-img {
    position: relative;
    cursor: pointer;
    
}



.grid-img:hover img{

  background-color: rgba(0, 0, 0, 0.5);
  opacity:0.8;
  z-index:10;

}


.grid-img:hover .grid-img-icon {

  display: block;

}


.grid-img-icon span {

  margin: 0.5em;
  color: #fff;


}

.grid-img-icon {
  top:50% ;
  left:50%;
  position: absolute;
  display: none;
  z-index: 99;
  transform: translate(-50%,-50%);


}

@media only screen and (max-width: 480px) {

  .profile{
    flex-direction: column;
    text-align: center;
  }

  .profile_info{

    margin-top: 0;

  }
  .profile_info--top{
    margin:0 auto;
  }
  .profile_info--center{
      margin:0 auto;
      flex-direction: column;
  }
  .profile_info--bottom{

    margin:0 auto;
  }
  .tabs{
    flex-direction: column;
    text-align: center;
  }

}
